{% extends 'layout' %}

{% block jumbotron %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-6 text-center align-self-center">
                    <img src="{{ asset('images/enso.svg') }}"/>
                    <h1>{{ title }}</h1>
                    <p>{{ slogan }}</p>
                </div>
                <div class="col-xs-12 col-lg-4 mx-lg-auto align-self-center">
                    <p class="text-center">{{ description }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <h2>What's a Coding Dojo?</h2>
    <p>
        A Coding Dojo is a meeting of coders when they solve some problem together
        in order to have fun and to practise their skills,
        particularly in the area of cooperation and test-driven development.
    </p>
    <p>
        For more info check out
        <a href="http://codingdojo.org/WhatIsCodingDojo/" target="_blank" rel="noopener">
            <span class="fas fa-external-link-square-alt"></span>
            CodingDojo.org
        </a>.
    </p>
    <h2>Why Avris Dojo?</h2>
    <p>
        There are some nice tools, like
        <a href="http://cyber-dojo.org/" target="_blank" rel="noopener">
            <span class="fas fa-external-link-square-alt"></span>
            cyber-dojo
        </a>,
        which help you organise a Dojo.
    </p>
    <p>
        But nothing is better than <strong>your own computer, your own IDE, your keyboard layout and your hotkeys</strong>.
    </p>
    <p>
        Avris Dojo lets your team cooperate on the same codebase with everyone using their own preferred tools.
        Basically, it just automatically commits and pushes your changes whenever you run tests
        and pulls whenever someone else pushed to the repo.
    </p>

    <h2>How to run it?</h2>
    <ol>
        <li>
            <p>
                <code>composer create-project avris/dojo-playground my_dojo</code>
                {% include 'copy-btn' %}
            </p>
        </li>
        <li>
            <p>Push it to some remote that your team will be able to access.</p>
        </li>
        <li>
            <p>
                Configure a push <strong>webhook</strong> for your project to:
                <code>https://dojo.avris.it/push</code>
                {% include 'copy-btn' %}
            </p>
        </li>
        <li>
            <p>
                Run
                <code>vendor/bin/dojo-listen</code>
                {% include 'copy-btn' %}
                &ndash; it will listen to changes in the repo and <strong>automatically pull</strong> them.
            </p>
        </li>
        <li>
            <p>Just write code in your preferred IDE.</p>
        </li>
        <li>
            <p>
                Run
                <code>vendor/bin/phpunit</code>
                {% include 'copy-btn' %}
                to execute tests
                &ndash; it will <strong>automatically commit and push</strong> your changes (regardless if it's green or red).
            </p>
        </li>
    </ol>

    <h2>Exercises</h2>
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <select class="form-control" size="3" id="exercises-list">
                {% for name, exercise in exercises %}
                    <option data-content="{{ exercise|e }}" {% if loop.first %}selected{% endif %}>
                        {{ name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-xs-12 col-md-8">
            <textarea class="form-control" id="exercises-content"></textarea>
        </div>
    </div>
    <p>
        Exercises scraped from:
        <a href="https://github.com/cyber-dojo/start-points-exercises" target="_blank" rel="noopener">
            <span class="fab fa-github"></span>
            cyber-dojo/start-points-exercises
        </a>
    </p>

    <h2>How it works?</h2>
    <p>
        <img src="{{ asset('images/diagram.svg') }}"/>
    </p>

    <h2>Copyright & Source code</h2>
    <ul class="list">
        <li>
            <span class="fas fa-user fa-fw"></span>
            <strong>Author:</strong>
            <a href="https://avris.it" target="_blank" rel="noopener">Andre Prusinowski</a>
        </li>
        <li>
            <span class="fas fa-gavel fa-fw"></span>
            <strong>Licence:</strong>
            <a href="https://mit.avris.it" target="_blank" rel="noopener">MIT</a>
        </li>
        {% include 'source' %}
        <li>
            <span class="fas fa-lightbulb fa-fw"></span>
            Inspired by
            <a href="http://cyber-dojo.org" target="_blank" rel="noopener">cyber-dojo</a>
        </li>
        <li>
            <span class="fas fa-image fa-fw"></span>
            Jumbotron photo by
            <a href="https://unsplash.com/@stefankunze" target="_blank" rel="noopener">Stefan Kunze</a>
            on Unsplash
        </li>
    </ul>
{% endblock %}
