#exercises-list, #exercises-content {
  margin-bottom: 1rem;
  font-family: $font-family-monospace;
  font-size: 0.9rem;
}

@include media-breakpoint-up(md) {
  #exercises-list {
    height: 24rem;
  }
}

#exercises-content {
  height: 24rem;
}

h2 {
  margin-top: 2rem;
}
