{% extends 'layout' %}

{% block content %}
    <h2>Error {{ errorCode }}</h2>
    <p>
        <a href="{{ route('home') }}">
            <span class="fas fa-home"></span>
            Back to the home page
        </a>
    </p>
{% endblock %}
