<footer class="bg-white">
    <div class="container">
        <ul class="text-center list list-horizontal-lg list-horizontal-wide">
            <li>
                <span class="fas fa-user fa-fw"></span>
                Andre Prusinowski
            </li>
            <li>
                <a href="https://avris.it" target="_blank" rel="noopener">
                    <span class="fas fa-globe fa-fw"></span>
                    avris.it
                </a>
            </li>
            <li>
                <a href="https://twitter.com/AvrisIT" target="_blank" rel="noopener">
                    <span class="fab fa-twitter-square fa-fw"></span>
                    AvrisIT
                </a>
            </li>
            {% include 'source' %}
            <li>
                <a href="https://paypal.me/AvrisIT" target="_blank" rel="noopener">
                    <span class="fab fa-paypal fa-fw"></span>
                    Buy me a coffee
                </a>
            </li>
        </ul>
    </div>
</footer>
