<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }} &bull; {{ slogan }}</title>
    <meta name="description" content="{{ description }}" />
    <meta name="keywords" content="{{ keywords|join(', ') }}" />
    <meta name="author" content="Andre Prusinowski <andre@avris.it>" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="{{ asset('images/favicon.png') }}" />
    <link rel="stylesheet" href="{{ asset('global.css') }}"/>

    <meta property="og:title" content="{{ title }} &bull; {{ slogan }}" />
    <meta property="og:url" content="https://dojo.avris.it/" />
    <meta property="og:image" content="{{ app.request.absoluteBase }}{{ asset('images/banner.png') }}" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ title }} &bull; {{ slogan }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="{{ app.request.absoluteBase }}{{ asset('images/banner.png') }}">
</head>
{% block body %}
<body>
    {% block jumbotron %}{% endblock %}

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    {% include 'footer' %}

    {% block scripts %}
        <script src="{{ asset('app.js') }}"></script>
        <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//matomo.avris.it/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', '9']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
        </script>
    {% endblock %}
</body>
{% endblock %}
</html>
