<li>
    <a href="https://gitlab.com/Avris/Dojo" target="_blank" rel="noopener">
        <span class="fab fa-gitlab fa-fw"></span>
        Helpers
    </a>
</li>
<li>
    <a href="https://gitlab.com/Avris/Dojo-Server" target="_blank" rel="noopener">
        <span class="fab fa-gitlab fa-fw"></span>
        Server
    </a>
</li>
<li>
    <a href="https://gitlab.com/Avris/Dojo-Playground" target="_blank" rel="noopener">
        <span class="fab fa-gitlab fa-fw"></span>
        Playground
    </a>
</li>
